## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_Database-Copy1.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Weather description
0,0,Tasiilaq,65.6145,-37.6368,273.24,85,100,6.33,GL,2021-10-25 21:15:57,overcast clouds
1,1,Kaitangata,-46.2817,169.8464,285.50,84,100,2.77,NZ,2021-10-25 21:15:52,overcast clouds
2,2,Vaini,-21.2000,-175.2000,298.24,83,20,4.12,TO,2021-10-25 21:15:42,few clouds
3,3,Dalby,-27.1833,151.2667,291.54,76,92,2.94,AU,2021-10-25 21:24:44,light rain
4,4,Boguchany,58.3814,97.4531,279.23,74,67,7.56,RU,2021-10-25 21:24:44,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
max_temp= float(input("Enter a maximum temperature"))
min_temp=float(input("Enter a minimum temperature"))

Enter a maximum temperature309
Enter a minimum temperature290

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
prefered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]

In [5]:
# 4a. Determine if there are any empty rows.
prefered_cities_df.count()

City_ID                381
City                   381
Lat                    381
Lng                    381
Max Temp               381
Humidity               381
Cloudiness             381
Wind Speed             381
Country                378
Date                   381
Weather description    381
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
prefered_cities_df=prefered_cities_df.dropna()
prefered_cities_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Weather description
2,2,Vaini,-21.2000,-175.2000,298.24,83,20,4.12,TO,2021-10-25 21:15:42,few clouds
3,3,Dalby,-27.1833,151.2667,291.54,76,92,2.94,AU,2021-10-25 21:24:44,light rain
5,5,Sri Aman,1.2376,111.4621,298.18,94,97,0.51,MY,2021-10-25 21:24:45,moderate rain
10,10,Lompoc,34.6391,-120.4579,291.80,83,90,5.14,US,2021-10-25 21:24:48,overcast clouds
11,11,Umm Kaddadah,13.6017,26.6876,302.53,19,100,7.09,SD,2021-10-25 21:24:49,overcast clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = prefered_cities_df[["City", "Country", "Max Temp", "Weather description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather description,Lat,Lng,Hotel Name
2,Vaini,TO,298.24,few clouds,-21.2000,-175.2000,
3,Dalby,AU,291.54,light rain,-27.1833,151.2667,
5,Sri Aman,MY,298.18,moderate rain,1.2376,111.4621,
10,Lompoc,US,291.80,overcast clouds,34.6391,-120.4579,
11,Umm Kaddadah,SD,302.53,overcast clouds,13.6017,26.6876,
12,Atuona,PF,298.38,light rain,-9.8000,-139.0333,
14,Bambous Virieux,MU,294.29,light intensity shower rain,-20.3428,57.7575,
16,Ranong,TH,298.62,overcast clouds,9.9658,98.6348,
18,Ribeira Grande,PT,293.23,broken clouds,38.5167,-28.7000,
21,Hilo,US,304.42,light rain,19.7297,-155.0900,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.



for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotel_url=requests.get(base_url, params=params).url
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
       
    except (IndexError):
        print("Hotel not found... skipping.")
        
    # Grab the first hotel from the results and store the name.
   
    # 6c. Get latitude and longitude from DataFrame

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    

    # 6e. Make request and retrieve the JSON data from the search. 
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
hotel_df

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Weather description,Lat,Lng,Hotel Name
2,Vaini,TO,298.24,few clouds,-21.2000,-175.2000,Keleti Beach Resort
3,Dalby,AU,291.54,light rain,-27.1833,151.2667,Kobbers Motor Inn Dalby
5,Sri Aman,MY,298.18,moderate rain,1.2376,111.4621,Seri Simanggang Hotel
10,Lompoc,US,291.80,overcast clouds,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"
11,Umm Kaddadah,SD,302.53,overcast clouds,13.6017,26.6876,
...,...,...,...,...,...,...,...
680,Galesong,ID,297.16,overcast clouds,-5.3166,119.3661,Sapriadi Appy
681,Kannur,IN,297.57,broken clouds,11.8675,75.3576,Asokam Beach Resort and Ayurveda Chikitsa Kendram
682,Alta Floresta,BR,301.16,overcast clouds,-9.8756,-56.0861,Floresta Amazonica Hotel
686,Jipijapa,EC,296.87,overcast clouds,-1.3333,-80.5833,Hotel Los Ceibos Jipijapa
688,Rio Grande,BR,301.21,clear sky,-32.0350,-52.0986,Hotel Atlântico Rio Grande

In [9]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df["Hotel Name"].replace('', np.nan, inplace=True)
hotel_df.dropna(subset=['Hotel Name'], inplace=True)

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "../Weather_Database/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather description} and {Max Temp} K</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)



# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
hotel_df

,City,Country,Max Temp,Weather description,Lat,Lng,Hotel Name
2,Vaini,TO,298.24,few clouds,-21.2000,-175.2000,Keleti Beach Resort
3,Dalby,AU,291.54,light rain,-27.1833,151.2667,Kobbers Motor Inn Dalby
5,Sri Aman,MY,298.18,moderate rain,1.2376,111.4621,Seri Simanggang Hotel
10,Lompoc,US,291.80,overcast clouds,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"
12,Atuona,PF,298.38,light rain,-9.8000,-139.0333,Villa Enata
...,...,...,...,...,...,...,...
680,Galesong,ID,297.16,overcast clouds,-5.3166,119.3661,Sapriadi Appy
681,Kannur,IN,297.57,broken clouds,11.8675,75.3576,Asokam Beach Resort and Ayurveda Chikitsa Kendram
682,Alta Floresta,BR,301.16,overcast clouds,-9.8756,-56.0861,Floresta Amazonica Hotel
686,Jipijapa,EC,296.87,overcast clouds,-1.3333,-80.5833,Hotel Los Ceibos Jipijapa
688,Rio Grande,BR,301.21,clear sky,-32.0350,-52.0986,Hotel Atlântico Rio Grande